<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
   <!--  <clear /> -->
    <add key="github" value="https://nuget.pkg.github.com/colhountech/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="colhountech" />
      <add key="ClearTextPassword" value="TOKEN" />
      <!-- dotnet nuget push "DarkUI\bin\Release\DarkUI.Net5.1.0.0.nupkg" \-\-api-key XXX  \-\-source "github"   -->
    </github>
  </packageSourceCredentials>
</configuration>
